<ion-header>
  <ion-toolbar color="primary"> <!-- Change the color to 'primary' for blue header -->
        <ion-title>Edit Data Form</ion-title>
          <ion-buttons slot="start"> 
            <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
      </ion-toolbar>
    </ion-header>

<ion-content class="ion-padding">
  <div class="data-form">
  <ion-list>
    <ion-item >
      <ion-input type="number" class="large-font-input password-input" maxlength="4" (ionInput)="onInput($event,'current_password')"   placeholder="Enter Current Pin"></ion-input>
    </ion-item>
    <span class="warning-tag" *ngIf="current_password_incorrect">Invalid current pin</span>
    <ion-item >
      <ion-input type="number"  class="large-font-input password-input" maxlength="4" (ionInput)="onInput($event,'new_password')"  placeholder="Enter New Pin"  ></ion-input>
    </ion-item>
    <ion-item >
      <ion-input type="number" class="large-font-input password-input" maxlength="4" (ionInput)="onInput($event,'confirm_password')"   placeholder="Enter Confirm Pin"></ion-input>
    </ion-item>
    <span class="warning-tag" *ngIf="confirm_password_incorrect">Incorrect confirm password</span>
  </ion-list>
  <br>
  <br>
  <br>
  <ion-button class="login-btn" expand="full"  (click)="saveData()">Change password</ion-button>
  </div>
</ion-content>
