
.header-card{
    float: right;
}
ion-input{
    font-size: 16px;
}
.data-form{
    margin-top: 10%;
}
.name-label {
  font-size: 25px;
  font-weight: 700;
}
.login-btn{
  margin: 0px 0px 0px 10px;
}
ion-card-header {
  padding: 10px 10px 0px 10px !important;
}
ion-card-content {
  padding: 0px 10px 0px 10px;
}
.gnd-text{
  padding: 0px 10px 0px 10px;
}
ion-card{
  text-align: end;
}

ion-label.floating {
  font-size: 18px; /* Adjust the size as needed */
}