/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body, ion-app, ion-content {
  background-color: #ffffff; /* Set to white */
  color: #0000005e; /* Optional: set text color to black */
}

:root {
    --ion-color-primary: #3880ff; /* Example blue color */
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  }
  .profile-pic-top{
    margin-right: 10px;
    width: 75%;
    height: 75%;
    margin-top: 15%;
}
.divider{
  border: 0.5px solid #1a65ebba;
  height: 1px;
  box-sizing: border-box;
}
.name-text{
  text-transform: capitalize;
}
.warning-tag {
  font-size: 14px;
  color: red;
  margin: 0px 15px;
  
}
ion-tab-bar {
  display: flex !important;
}
ion-title{
  text-align: center;
}
.name-input{
  text-transform: capitalize;
}